{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      }
    ],
     "stage-2"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
